<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find g500arm5_gazebo)/worlds/g500arm5.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find g500arm5_description)/urdf/g500arm5.xacro'" />  
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model g500arm5 -param robot_description -x 0 -y 0 -z -5" />
  
  <!-- IAUV Dynamics : -->
  <!--<include file="$(find g500arm5_description)/launch/g500_dynamics.launch" />  -->
    
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Keyboard Control -->
  <rosparam ns="iauv" param="linear_mag">1.0</rosparam>
  <rosparam ns="iauv" param="angular_mag">1.0</rosparam>
  <rosparam ns="iauv" param="model_name">g500arm5</rosparam>  
  <node ns="iauv" name="velocity_control_node" pkg="keyboard_teleop" 
        type="velocity_control" respawn="false" output="screen" 
        launch-prefix="xterm -e" />
    
    <!-- If using UWSIM -->
    <arg name="USING_UWSIM" default="false" />
    <group if="$(arg USING_UWSIM)">
      <arg name="scene" default="cirs.xml" />
      <node name="uwsim" pkg="uwsim" type="uwsim" args="--configfile $(arg scene)" output="screen" respawn="false" />
    </group>

  </launch>
