<launch>

  <arg name="gui" default="False" />

  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find eye_description)/urdf/eye.xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find eye_description)/launch/urdf.rviz" required="true" />

</launch>
